* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;    
}

body {
    background: linear-gradient(
        100deg,
        rgb(75, 201, 236) 0%,
        rgb(29, 69, 81) 16%,
        rgb(7, 13, 15) 51%,
        rgb(54, 20, 58) 41%,
        rgb(125, 41, 150) 98%
    );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    min-height: 100vh;
}

img {
    max-width: 50%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.logo {
    color: #072d44;
    font-size: 25px;
    text-transform: uppercase;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    padding:  0 20px;
    font-size: 20px;
}

.navbar ul li a {
    color: #7ecbff;
}

.navbar ul li a:hover {
    color: #9421ab;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
    height: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    margin-top: 150px;
}
.header-txt {
    flex-basis: 50%;
    padding-right: 120px;

}

.header-txt h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1;
    color: aliceblue;
    margin-bottom: 15px;
}

.header-txt p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    margin-bottom: 50px;

}

.btn {
    display: inline-block;
    padding: 13px 30px;
    background: linear-gradient(
        90deg,
        rgb(107,181,238) 0%,
        rgb(92,26,87) 0%

        
    );
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0) ;
}

.heade-imgr {
    flex-basis: 50%;
}

@media(max-width:991px) {
    .menu {
        padding: 20px;
        position: relative;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #072d44;
    }

    .menu .navbar ul {
        flex-direction: column;
        padding: 0 20px;
    }

    .menu .navbar ul li{
        width: 100%;
        padding: 20px 0;
    }

    .menu .navbar ul li a:hover {
        color: #000;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
}